{{> common_header}}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
    {{#bbs}}
        <h1><img src="/assets/img/perfect_icon.png" width="60" height="60" alt="perfect lib" class="img-thumbnail"> {{title}}</h1>
        <p>{{comment}}</p>
        <p>created by {{name}} at {{createdAt}}</p>
    {{/bbs}}
    </div>

    <div class="page-header">
        <h1>comment list</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>comment</th>
                        <th>user</th>
                        <th>posted date</th>
                    </tr>
                </thead>
                <tbody>
                {{#postList}}
                    <tr>
                        <td>{{comment}}</td>
                        <td>{{userName}}</td>
                        <td>{{createdAt}}</td>
                    </tr>
                {{/postList}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="page-header">
        <h1>post comment form</h1>
    </div>

    <form action="/bbs/addcomment" method="post">
        <div class="form-group">
            <label for="comment">comment</label>
            <textarea name="comment" id="comment" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">post comment</button>

        {{#bbs}}
            <input type="hidden" name="bbs_id" value="{{id}}">
        {{/bbs}}
    </form>

</div>

{{> common_footer}}
