<html>
<head>
<title>user login | SwiftBBS</title>
</head>
<body>

<h1>user login</h1>
<form action="/user/login" method="post">
<p>name : <input type="text" name="name"></p>
<p>password : <input type="password" name="password"></p>
<input type="submit" value="login">
</form>

<hr>

<a href="/user">user registration</a>

</body>
</html>