<html>
<head>
<title>sqlite sample</title>
</head>
<body>

<h1>user table</h1>

<h2>add form</h2>
<form action="sqlite/add" method="post">
name : <input type="text" name="name"><br>
<input type="submit" value="add">
</form>

<hr>
<h2>list</h2>
<form action="sqlite" method="post">
name:<input type="text" name="name" value="{{nameForSearch}}">
<input type="submit" value="search">
</form>
<table border="1">
  <tr>
<th>id</th>
<th>id</th>
  </tr>
{{#users}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
  </tr>
{{/users}}
</table>

</body>
</html>