{{> common_header}}

<div class="container theme-showcase" role="main">
<div class="page-header">
<h1>mypage</h1>
</div>

<div class="row">
<div class="col-md-6">

{{#loginUser}}
<table class="table table-bordered">
    <tr>
        <th>id</th>
        <td>{{id}}</td>
    </tr>
    <tr>
        <th>name</th>
        <td>{{name}}</td>
    </tr>
    <tr>
        <th>createdAt</th>
        <td>{{createdAt}}</td>
    </tr>
    <tr>
        <th>updatedAt</th>
        <td>{{updatedAt}}</td>
    </tr>
</table>
{{/loginUser}}

</div>
</div>

<p><a class="btn btn-default" href="/user/edit" role="button">go to user edit from</a></p>

{{> common_footer}}