<html>
<head>
<title>user registration | SwiftBBS</title>
</head>
<body>

<h1>user registration</h1>
<form action="/user/add" method="post">
<p>name : <input type="text" name="name"></p>
<p>password : <input type="password" name="password"></p>
<input type="submit" value="user add">
</form>

</body>
</html>