{{> common_header}}

<div class="container theme-showcase" role="main">
<div class="page-header">
<h1>user registration</h1>
</div>

<h1>mypage</h1>

<p>show my user data</p>
{{user.id}}
<p>show my user data</p>
{{user.name}}


{{> common_footer}}